

<p class="">Hello this is home page
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

<!--
<div style="position: relative;height: 100vh">
<img ngSrc="https://cdn.pixabay.com/photo/2021/11/13/23/06/tree-6792528_960_720.jpg" alt="wallpaper" fill>
 <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
  Resim yüklenmeden önce onun için alan oluşturuyor, ön yüklemeye alıyor. Scroll ile resimin bulşunduğu alana inince resim Canvas içerisinde gözüküyor.
  Bu alana inmediği sürece resim sayfa açıldığında yüklenmiyor
</div>
-->
