<!-- modalHeader -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Yeni Board Ekle</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<!-- !modalHeader -->


  <!-- modalContent -->
  <div class="modal-body">
    <form [formGroup]="boardForm">
      <div class="col-md-12 mb-3">
        <label class="form-label">Başlık</label>
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="bi bi-info-circle"></i></span>
            <input formControlName="title" type="text" id="boardTitle" class="form-control" aria-describedby="inputGroupPrepend">
            <div class="invalid-feedback">
              * Zorunlu alan
            </div>
          </div>
      </div>
    </form>
  </div>
  <!-- !modalContent -->


<!-- modalFooter -->
<div class="modal-footer">
  <button [disabled]="boardForm.invalid" (click)="createBoard()" type="button" class="btn btn-primary">Oluştur</button>
  <button type="button" class="btn btn-light" (click)="close()">İptal</button>
</div>
<!-- !modalFooter -->


