<!-- modalHeader -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{isUpdate ? 'Yazıyı Güncelle' : 'Yazıyı Gör'}}
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<!-- !modalHeader -->


<!-- modalContent -->
<div class="modal-body" *ngIf="!isUpdate"> <!-- isUpdate False olduğu durumda çalışacak / Görüntüle -->
  <div class="row">
    <div class="col-md-4">
      <img src="assets/images/image{{imageUrl}}.jpg" alt="Blog" class="w-100 h-auto">
    </div>
    <div class="col-md-8">
      {{title}}
      <p>{{body}}</p>
    </div>
  </div>
</div>

<div class="modal-body" *ngIf="isUpdate"> <!-- isUpdate True olduğu durumda çalışacak / Düzenle -->
  Düzenle
</div>
<!-- !modalContent -->


<!-- modalFooter -->
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="close()">İptal</button>
</div>
<!-- !modalFooter -->

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
