<!-- modalHeader -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Başlık
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<!-- !modalHeader -->


<!-- modalContent -->
<div class="modal-body">
  modalContent
</div>
<!-- !modalContent -->


<!-- modalFooter -->
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="close()">İptal</button>
</div>
<!-- !modalFooter -->

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
