<div class="vstack vh-100 gap-2 overflow-hidden">
  <div class="navbar-collapse">
    <div class="d-flex flex-column align-items-stretch gap-3">
      <a routerLink="/" class="btn btn-outline-primary text-start" aria-current="page">
        <i class="bi bi-house"></i> Home
      </a>
      <a routerLink="/student" class="btn btn-outline-primary text-start">
        <i class="bi bi-person"></i> Student
      </a>
      <a routerLink="/jira" class="btn btn-outline-primary text-start">
        <i class="bi bi-kanban"></i> Jira
      </a>
      <a routerLink="/article" class="btn btn-outline-primary text-start">
        <i class="bi bi-kanban"></i> Article
      </a>
      <a routerLink="/blog" class="btn btn-outline-primary text-start">
        <i class="bi bi-chat-left"></i> Blog
      </a>
      <a class="btn btn-outline-primary text-start" data-bs-toggle="collapse" (click)="collapseSubMenu()" role="button" aria-expanded="false" aria-controls="collapseMenu">
        <i class="bi bi-kanban"></i> Projects
      </a>
      <div class="collapse" [class.collapse]="collapseMenu">
        <div class="d-flex row gap-2 ms-2">
          <a routerLink="/display-photo" class="btn btn-light text-black text-start">
            <i class="bi bi-plus"></i> Photos
          </a>
          <a routerLink="/equality" class="btn btn-light text-black text-start">
            <i class="bi bi-plus"></i> Equality
          </a>
          <a routerLink="/card" class="btn btn-light text-black text-start">
            <i class="bi bi-plus"></i> Card
          </a>
          <a routerLink="/methods" class="btn btn-light text-black text-start">
            <i class="bi bi-plus"></i> Array Methods
          </a>
          <a routerLink="/javascript" class="btn btn-light text-black text-start">
            <i class="bi bi-plus"></i> Java Script
          </a>
          <a routerLink="/pipes" class="btn btn-light text-black text-start">
            <i class="bi bi-plus"></i> Pipes
          </a>
        </div>
      </div>
      <a routerLink="/contact" class="btn btn-outline-primary text-start">
        <i class="bi bi-telephone"></i> Contact
      </a>
      <a routerLink="/admin" class="btn btn-outline-primary text-start">
        <i class="bi bi-person"></i> Admin
      </a>
      <a routerLink="/example" class="btn btn-outline-primary text-start">
        <i class="bi bi-behance"></i> Example
      </a>
    </div>
  </div>



</div>
