<div class="d-flex vstack container justify-content-center align-items-left p-4">

  <h4 class="d-block mb-3">Java Script Exercise - 1</h4>

  String 1: {{example1}} <br>
  String 2: {{example2}} <br>
  String 3: {{example3}} <br>
  String 4: {{example4}} <br>
  String 5: {{example5}} <br>

  <h4 class="d-block mb-3">Java Script Exercise - 3</h4>

  <hr>

  <h5>String concat()</h5>
  <p>Javascript concat() metodu ile string concatenation yani string birleştirme yapabiliriz.</p>

  <hr>

  <h5>Math.floor()</h5>
  <p> metodu, kendine verilen sayısı aşağı doğru yuvarlar. Mesela 4.5 sayısını verdiğinde sana 4 tam sayısını döndürür.</p>
  <p>Math.floor(2.65)</p>

  <hr>

  <h5>Math.random()</h5>
  <p>Rast gele bir sayı üretmek için kullanılır.</p>
  <p>Math.floor(Math.random() * 10)</p>

  <h5>Math.ceil()</h5>
  <p>Math.ceil sayıyı yukarı yuvarlar.5.1 veya 5.9 olsun math.ceil sayıyı 6 yapar.</p>

  <h5>Math.round()</h5>
  <p>Math.round ise sayı .5 ve üstü ise yukarı yuvarlar..5 altı ise aşağı yuvarlar.8.5 i 9 a 8.4 ü 8 yuvarlar.</p>

  <h5>String.prototype.(padStart/padEnd)</h5>
  <p>String belli bir karaktere kadar tamamlamanızı sağlar. <br>

    boş karakterle mi / belli bir örüntü ile mi tamamlanacak. <br>
    padStart/padEnd: doldurma işleminin başa mı/ sona mı ekleneceğini</p>

  <hr>
</div>
